Repository mezidia/song-helper, pull requests merged in 2021-04, with the labels that each got.

#26 Parser
  server/mesite/searcher.py
  server/mesite/tests.py
  server/requirements.txt
Labels: django

#16 Django
  .github/workflows/django.yml
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  .vs/song-helper/config/applicationhost.config
  .vs/song-helper/v16/.suo
  .vs/song-helper/v16/TestStore/0/000.testlog
  server/mesite/__init__.py
  server/mesite/admin.py
  server/mesite/apps.py
  server/mesite/forms.py
  server/mesite/migrations/0001_initial.py
  server/mesite/migrations/0002_auto_20210312_1318.py
  server/mesite/migrations/__init__.py
  server/mesite/models.py
  server/mesite/searcher.py
  server/mesite/tests.py
  server/mesite/urls.py
  server/mesite/views.py
  server/requirements.txt
  server/server/asgi.py
  server/server/settings.py
  server/server/urls.py
  server/server/wsgi.py
  server/static/css/index.css
  server/static/img/MezidiaLogoTransparent.png
  server/static/img/favicon.ico
  server/templates/base.html
  server/templates/includes/add_song_form.html
  server/templates/includes/header.html
  server/templates/includes/main_form.html
  server/templates/mesite/add_song.html
  server/templates/mesite/index.html
Labels: django

#22 Create start.py
  start.py
Labels: django, enhancement, song-helper, telegram bot

#14 song-helper
  .github/workflows/song-helper.yml
  song-helper/.env_sample
  song-helper/__init__.py
  song-helper/config.py
  song-helper/data/cluster0.csv
  song-helper/data/cluster1.csv
  song-helper/data/data_moods.csv
  song-helper/data/df.csv
  song-helper/data/df1.csv
  song-helper/data/df2.csv
  song-helper/fake_server.py
  song-helper/main.py
  song-helper/model.py
  song-helper/predict.py
  song-helper/requirements.txt
  song-helper/test_model.py
  song-helper/test_predict.py
  song-helper/test_utils.py
  song-helper/utils.py
Labels: song-helper

#25 bot-2
  .github/workflows/bot.yml
  bot/.vs/VSWorkspaceState.json
  bot/.vs/bot/v16/.suo
  bot/.vs/slnx.sqlite
  bot/__init__.py
  bot/audiodownloader.py
  bot/bot.py
  bot/requirements.txt
  bot/test.py
Labels: telegram bot

#47 Fix docker-publish.yml
  .github/workflows/docker-publish.yml
Labels: bug

#46 Host datasets
  songhelper/create_data_set.py
  songhelper/mood_from_words.py
  songhelper/predict.py
  songhelper/requirements.txt
  songhelper/test_predict.py
Labels: song-helper

#52 Mobile app kivymd
  mobileApp/main.py
  mobileApp/styles.py
Labels: enhancement, mobile app

#53 Create dependabot.yml
  .github/dependabot.yml
Labels: bug, dependencies, enhancement

#55 Update dependabot.yml
  .github/dependabot.yml
Labels: bug, dependencies, enhancement
